<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>Learn more about our company and our mission.</p>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>Get in touch with us through our contact form.</p>
        <button class="btn btn-primary">Contact Us</button>

      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <p>Find us on social media to stay up-to-date on our latest projects.</p>
      </div>
    </div>
  </div>
</footer>
